.login-card {
    width: 60%;
    height: auto;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 3%;
}

.login-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
